*.tmp
*.bak
*.obj
**/bin/
**/obj/
.vs/
*.user
Sample/Head1/
Sample/Head2/

/FChassis-Installer/Thumbs.db
/FChassis_Setup.exe

# Ignore all output folders and their contents
**/output/
output/
**/output/*
*/output/
/output
